<DOCTYPE html>
<html>
  <head>
    <title>Slow Control Alarm Thresholds</title> {{!comment}}
    <link rel="stylesheet" href="/slowcontrol/_design/slowcontrol/style/main.css" type="text/css">
    <script src="/_utils/script/json2.js"></script>
    <script src="/_utils/script/jquery.js"></script>
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="/_utils/script/sha1.js"></script>
    <script src="../../vendor/couchapp/jquery.couch.app.js"></script>
    <script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
    <script src="../../vendor/couchapp/jquery.evently.js"></script>
    <script src="../../vendor/couchapp/jquery.mustache.js"></script>
    <script src="../../script/app.js"></script>
  </head>
  <body>
    <div id="account"></div>
    <h1>Slow Control Alarm Thresholds</h1>
    <div id="statustext"></div>
    <div class="wideColumn">
      <button id="fillPresentThresholds" class="niceButton">Fill Present Thresholds</button>
      <button id="fillApprovedThresholds" class="niceButton">Fill Approved Thresholds</button>
    </div>
    <div class="wideColumn" style="clear:none">
      <button id="showPresentThresholds" class="niceButton">Show Present Thresholds</button>
      <button id="showApprovedThresholds" class="niceButton">Show Approved Thresholds</button>
    </div>
    <div class="wideColumn" style="clear:none">
      <button id="hidePresentThresholds" class="niceButton">Hide Present Thresholds</button>
      <button id="hideApprovedThresholds" class="niceButton">Hide Approved Thresholds</button>
    </div>
    <div class="wideColumn" style="clear:none">
      <button id="refreshPresent" class="niceButton">Refresh Present Values</button>
    </div>
    <button id="saveThresholds" class="niceButton">Save Thresholds</button>
    <div class="header">
      <div class="wideColumn">Channel Name</div>
      <div class="narrowColumn">LoLo</div>
      <div class="narrowColumn">Lo</div>
      <div class="narrowColumn">Presently</div>
      <div class="narrowColumn">Hi</div>
      <div class="narrowColumn">HiHi</div>
      <div class="narrowColumn">Enabled</div>
    </div>
    {{#ioss}}
      {{#cards}}
        {{#channels}}
          <div class="channel"> 
            <div class="wideColumn">
              <div class="wide">
                <div class="wide set" id="name_ios{{ios}}card{{card}}channel{{channel}}"></div>
                <div class="wide present">Present Thresholds</div>
                <div class="wide approved">Approved Thresholds</div>
              </div>
            </div>
            <div class="narrowColumn">
              <div class="narrow">
                <input class="narrow set" id="lolo_ios{{ios}}card{{card}}channel{{channel}}" />
                <div class="narrow present" id="lolo_present_ios{{ios}}card{{card}}channel{{channel}}"></div>
                <div class="narrow approved" id="lolo_approved_ios{{ios}}card{{card}}channel{{channel}}"></div>
              </div>
            </div>
            <div class="narrowColumn">
              <div class="narrow">
                <input class="narrow" id="lo_ios{{ios}}card{{card}}channel{{channel}}" />
                <div class="narrow present" id="lo_present_ios{{ios}}card{{card}}channel{{channel}}"></div>
                <div class="narrow approved" id="lo_approved_ios{{ios}}card{{card}}channel{{channel}}"></div>
              </div>
            </div>
            <div class="narrowColumn">
              <div class="narrow">
                <div class="narrow set" id="present_ios{{ios}}card{{card}}channel{{channel}}"></div>
              </div>
            </div>
            <div class="narrowColumn">
              <div class="narrow">
                <input class="narrow" id="hi_ios{{ios}}card{{card}}channel{{channel}}" />
                <div class="narrow present" id="hi_present_ios{{ios}}card{{card}}channel{{channel}}"></div>
                <div class="narrow approved" id="hi_approved_ios{{ios}}card{{card}}channel{{channel}}"></div>
              </div>
            </div>
            <div class="narrowColumn">
              <div class="narrow">
                <input class="narrow" id="hihi_ios{{ios}}card{{card}}channel{{channel}}" />
                <div class="narrow present" id="hihi_present_ios{{ios}}card{{card}}channel{{channel}}"></div>
                <div class="narrow approved" id="hihi_approved_ios{{ios}}card{{card}}channel{{channel}}"></div>
              </div>
            </div>
            <div class="narrowColumn">
              <div class="narrow">
                <input type="checkbox" id="isEnabled_ios{{ios}}card{{card}}channel{{channel}}">
              </div>
            </div>
          </div>
        {{/channels}}
      {{/cards}}
    {{/ioss}}
  <script src="../../script/detailstuff.js"></script>
  </body>
</html>
