<!DOCTYPE HTML>
<html>
  <head>
    <title>Slow Control Alarms</title> {{!comment}}
    <link rel="stylesheet" href="/slowcontrol-channeldb/_design/slowcontrol/style/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/_utils/script/json2.js"></script>

<!--The newest versions-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

<!--The (old) versions in use-->
<!--    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/jquery.js"></script>
    <!--script src="http://code.jquery.com/jquery-1.8.2.min.js"></script-->
<!--    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/jquery.mobile.js"></script>
    <!--script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script-->
<!--    <link rel="stylesheet" href="/slowcontrol-channeldb/_design/slowcontrol/style/jquery.mobile.css" type="text/css">
    <!--link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" /-->

<!--jquery couch stuff-->
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.couch.app.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.couch.app.util.js"></script>
    <!-- script src="../../script/app.js"></script -->
    
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/highcharts.js" type="text/javascript"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/themes/grid.js" type="text/javascript"></script> 
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/modules/exporting.js" type="text/javascript"></script>

    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/highslide/highslide-full.min.js" type="text/javascript"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/highslide/highslide.config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/slowcontrol-channeldb/_design/slowcontrol/style/highslide.css" />
  </head>
  <body>
    <div data-role="page" id="alarmsdetail">
      {{!<div id="account"></div>}}
      <!--Detail-->
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
	<!--<a id="rackaudiobutton" loop="true" data-icon="alert">Rack Audio Alarm On</a>
        <audio preload="true" id="rackaudio" loop="true">
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.ogg" type="audio/ogg" />
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.mp3" type="audio/mp3" />
        </audio>-->
	<div data-role="navbar">
          <ul>
            <li><a href="#alarmsoverview" data-icon="grid">Overview</a>
	    <li><a href="#alarmsdetail" class="ui-btn-active ui-state-persist" data-icon="bullets">Detail</a>
	    <li><a href="#alarmslist" data-icon="alert">Alarm List</a>
            <li><a href="#thresholds" data-icon="edit">Thresholds</a>
            <li><a href="#graphs" data-icon="bars">Graphs</a>
          </ul>
	</div>
      </div>
      <p></p>
      <div data-role="none" id="audio">
        <button id="rackaudiobutton" class="niceButton" data-role="none" loop="true">Rack Audio Alarm On</button>
	<button id="testaudiobutton" class="niceButton" data-role="none">Test Audio</button>
        <button id="colorblindbutton" class="niceButton" data-role="none">Colorblind Mode Off</button>
        <audio preload="true" id="testaudio">
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/testaudio.ogg" type="audio/ogg" />
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/testaudio.mp3" type="audio/mp3" />
        </audio>
        <audio preload="true" id="rackaudio" loop="true">
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.ogg" type="audio/ogg" />
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.mp3" type="audio/mp3" />
        </audio>
      </div>
      <div id="wheretext"></div>
      <div style="width:100%;height:175px">
        <div>
          Rack Voltages
        </div>
        {{#racks}}
        <div class="{{style}}">
          {{id}}
          {{#channels}}
          <div id="rack{{id}}channel{{channel}}" class="box inside">
            {{channel}}
          </div>
          {{/channels}}
        </div>
        {{/racks}}
      </div>
      
      <div style="width:100%;height:175px">
        <div>
          Crate Currents
        </div>
        {{#crates}}
        <div class="{{style}}">
          {{id}}
          {{#channels}}
          <div id="crate{{id}}channel{{channel}}" class="box inside">
            {{channel}}
          </div>
          {{/channels}}
        </div>
        {{/crates}}
      </div>
      
      <div style="width:100%;height:100px">
        <div>
          Comp Coil Status
        </div>
        {{#compcoils}}
        <div class="{{style}}">
          {{id}}
          {{#channels}}
          <div id="coil{{id}}channel{{channelshort}}" class="box inside">
            {{channel}}
          </div>
          {{/channels}}
        </div>
        {{/compcoils}}
      </div>
      
      <div style="width:100%;height:50px">
        <div>
          Hold-up Rope Tensions
        </div>
        {{#holdupropes}}
        <div class="{{style}}">
          <div id="holdup{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/holdupropes}}
      </div>
      <div style="width:100%;height:50px">
        <div>
          Hold-down Rope Tensions
        </div>
        {{#holddownropes}}
        <div class="{{style}}">
          <div id="holddown{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/holddownropes}}
      </div>
      <div style="width:100%;height:50px">
        <div>
          Equator monitors
        </div>
        {{#equator}}
        <div class="{{style}}">
          <div id="equator{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/equator}}
      </div>
      <div style="width:100%;height:50px">
        <div>
          AV temp
        </div>
        {{#AVtemp}}
        <div class="{{style}}">
          <div id="AV_temp{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/AVtemp}}
      </div>
      <div style="width:100%;height:50px">
        <div>
          Cavity water level
        </div>
        {{#cavitywaterlevel}}
        <div class="{{style}}">
          <div id="cavity_water_level{{id}}" class="box inside">
            {{id}}
          </div>
        </div>
        {{/cavitywaterlevel}}
      </div>
      
      <div style="width:100%;height:150px">
        <div>
          Others
        </div>
        <div class="big">
          <div id="otherE-Stop" class="box big" style="clear:both">E-Stop/HV Disable</div>
        </div>
        <div class="big">
          <div id="otherMine" class="box big" style="clear:both">Mine Power</div>
        </div>
      </div>
      
      <div style="width:100%;height:175px">
        <div>
          Page updates (browswer time minus latest document timestamp)
        </div>
        <div>
          <div>
            <span  class="timetable narrow"></span>
            <span  class="timetable narrow">data</span>
            <span  class="timetable narrow">alarms</span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 1 
            </span>
            <span  class="timetable narrow" id="time_data_ios1"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios1"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 2 
            </span>
            <span  class="timetable narrow" id="time_data_ios2"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios2"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 3 
            </span>
            <span  class="timetable narrow" id="time_data_ios3"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios3"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">IOS 4 
            </span>
            <span  class="timetable narrow" id="time_data_ios4"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_ios4"> 
            </span>
          </div>
          <div style="clear:both">
            <span  class="timetable narrow">Delta V 
            </span>
            <span  class="timetable narrow" id="time_data_deltav"> 
            </span>
            <span  class="timetable narrow" id="time_alarm_deltav"> 
            </span>
          </div>
        </div>
      </div>
    </div>

    <div data-role="page" id="alarmsoverview">
      {{!<div id="account"></div>}}
      <!--Overview-->
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
	<div data-role="navbar">
          <ul>
            <li><a href="#alarmsoverview" class="ui-btn-active ui-state-persist" data-icon="grid">Overview</a>
	    <li><a href="#alarmsdetail"  data-icon="bullets">Detail</a>
	    <li><a href="#alarmslist" data-icon="alert">Alarm List</a>
            <li><a href="#thresholds" data-icon="edit">Thresholds</a>
            <li><a href="#graphs" data-icon="bars">Graphs</a>
          </ul>
	</div>
      </div>
      <p></p>
      <div data-role="none" id="audio">
        <button id="rackaudiobutton" class="niceButton" data-role="none" loop="true">Rack Audio Alarm On</button>
	<button id="testaudiobutton" class="niceButton" data-role="none">Test Audio</button>
        <button id="colorblindbutton" class="niceButton" data-role="none">Colorblind Mode Off</button>
        <audio preload="true" id="testaudio">
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/testaudio.ogg" type="audio/ogg" />
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/testaudio.mp3" type="audio/mp3" />
        </audio>
        <audio preload="true" id="rackaudio" loop="true">
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.ogg" type="audio/ogg" />
          <source src="/slowcontrol-channeldb/_design/slowcontrol/audio/rackaudio.mp3" type="audio/mp3" />
        </audio>
      </div>
      <div id="racks" style="width:100%;float:left;clear:both">
        <div class="racks" id="rack1">Rack 1 Voltage
          <div class="crates" id="crate0">Crate 0 Current</div>
          <div class="crates" id="crate1">Crate 1 Current</div>
        </div>
        <div class="racks" id="rack2">Rack 2 Voltage
          <div class="crates" id="crate2">Crate 2 Current</div>
          <div class="crates" id="crate3">Crate 3 Current</div>
        </div>
        <div class="racks" id="rack3">Rack 3 Voltage
          <div class="crates" id="crate4">Crate 4 Current</div>
        </div>
        <div class="racks" id="rack4">Rack 4 Voltage
          <div class="crates" id="crate5">Crate 5 Current</div>
          <div class="crates" id="crate6">Crate 6 Current</div>
        </div>
        <div class="racks" id="rack5">Rack 5 Voltage
          <div class="crates" id="crate7">Crate 7 Current</div>
          <div class="crates" id="crate8">Crate 8 Current</div>
        </div>
        <div class="racks" id="rack6">Rack 6 Voltage
          <div class="crates" id="crate9">Crate 9 Current</div>
          <div class="crates" id="crate10">Crate 10 Current</div>
        </div>
        <div class="racks" id="rack7">Rack 7 Voltage
          <div class="crates" id="crate11">Crate 11 Current</div>
        </div>
        <div class="racks" id="rack8">Rack 8 Voltage
          <div class="crates" id="crate12">Crate 12 Current</div>
          <div class="crates" id="crate13">Crate 13 Current</div>
        </div>
        <div class="racks" id="rack9">Rack 9 Voltage
          <div class="crates" id="crate14">Crate 14 Current</div>
          <div class="crates" id="crate15">Crate 15 Current</div>
        </div>
        <div class="racks" id="rack10">Rack 10 Voltage
          <div class="crates" id="crate16">Crate 16 Current</div>
        </div>
        <div class="racks" id="rack11">Rack 11 Voltage
          <div class="crates" id="crate17">Crate 17 Current</div>
          <div class="crates" id="crate18">Crate 18 Current</div>
        </div>
      </div>
      <div id="moreracks" style="width:100%;float:left;clear:both">
        <div class="racks" id="timing">Timing Rack Voltage</div>
        <div class="racks" id="xl3s">XL3s</div>
        <div class="racks" id="coils">Comp Coils</div>
      </div>
    </div>

    <div data-role="page" id="alarmslist">
      {{!<div id="account"></div>}}
      <!--Alarm List-->
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
	<div data-role="navbar">
          <ul>
            <li><a href="#alarmsoverview" data-icon="grid">Overview</a>
	    <li><a href="#alarmsdetail"  data-icon="bullets">Detail</a>
	    <li><a href="#alarmslist" class="ui-btn-active ui-state-persist" data-icon="alert">Alarm List</a>
            <li><a href="#thresholds" data-icon="edit">Thresholds</a>
            <li><a href="#graphs" data-icon="bars">Graphs</a>
          </ul>
	</div>
      </div>
      <p></p>
      <div id="wheretext"></div>
      Alarm list 
      <div id="alarmlist" style="width:100%;float:left;clear:both"></div>
    </div>

    <div data-role="page" id="thresholds">
      {{!<div id="account"></div>}}
      <!--Thresholds-->
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
	<div data-role="navbar">
          <ul>
            <li><a href="#alarmsoverview" data-icon="grid">Overview</a>
	    <li><a href="#alarmsdetail" data-icon="bullets">Detail</a>
	    <li><a href="#alarmslist" data-icon="alert">Alarm List</a>
            <li><a href="#thresholds" class="ui-btn-active ui-state-persist" data-icon="edit">Thresholds</a>
            <li><a href="#graphs" data-icon="bars">Graphs</a>
          </ul>
	</div>
      </div>
      <p></p>
      <div id="statustext"></div>
      <div id="statustext1"></div>
      <div class="wideColumn">
        <button id="fillPresentThresholds" class="niceButton" data-role="none">Fill Present Thresholds</button>
        <button id="fillApprovedThresholds" class="niceButton" data-role="none">Fill Approved Thresholds</button>
      </div>
      <div class="wideColumn" style="clear:none">
        <button id="showPresentThresholds" class="niceButton" data-role="none">Show Present Thresholds</button>
        <button id="showApprovedThresholds" class="niceButton" data-role="none">Show Approved Thresholds</button>
      </div>
      <div class="wideColumn" style="clear:none">
        <button id="hidePresentThresholds" class="niceButton" data-role="none">Hide Present Thresholds</button>
        <button id="hideApprovedThresholds" class="niceButton" data-role="none">Hide Approved Thresholds</button>
      </div>
      <div class="wideColumn" style="clear:none" data-role="none">
        <button id="refreshPresent" class="niceButton" data-role="none">Refresh Present Values</button>
      </div>
      <button id="saveThresholds" class="niceButton" data-role="none">Save Thresholds</button>
      <!-- button id="format" class="niceButton" data-role="none">Format</button -->
      <div id="approval" style="display:none">
        Approve: <input type="checkbox" label="Approve:" id="approved" data-role="none" />
      </div>
      <div class="header">
        <div class="wideColumn">Channel Name</div>
        <div class="narrowColumn">LoLo</div>
        <div class="narrowColumn">Lo</div>
        <div class="narrowColumn">Presently</div>
        <div class="narrowColumn">Hi</div>
        <div class="narrowColumn">HiHi</div>
        <div class="narrowColumn">Enabled</div>
      </div>
      <div id="everything"></div>
    </div>

    <div data-role="page" id="graphs">
      <!--Graphs-->
      <div data-role="header" class="ui-state-persist" data-position="fixed">
	<h1>Slow Control Alarms</h1>
	<a href="http://snopl.us" data-icon="arrow-l">Return to snopl.us</a>
	<div data-role="navbar">
          <ul>
            <li><a href="#alarmsoverview" data-icon="grid">Overview</a>
	    <li><a href="#alarmsdetail" data-icon="bullets">Detail</a>
	    <li><a href="#alarmslist" data-icon="alert">Alarm List</a>
            <li><a href="#thresholds" data-icon="edit">Thresholds</a>
            <li><a href="#graphs" class="ui-btn-active ui-state-persist" data-icon="bars">Graphs</a>
          </ul>
	</div>
      </div>
      <p></p>
      <button id="deleteplot" class="niceButton" data-role="none">Delete</button>
      <select id="name_dropdown" data-role="none"></select>
      <button id="addplot" class="niceButton" data-role="none">Add</button>
      <div id="graphstatus"></div>
      <div id="plots">
      </div>
    </div>

    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/slowloader.js"></script> 
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/slowrunner.js"></script> 
    <script src="/slowcontrol-channeldb/_design/slowcontrol/script/plots.js"></script>
    <script src="/_utils/script/sha1.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.evently.js"></script>
    <script src="/slowcontrol-channeldb/_design/slowcontrol/vendor/couchapp/jquery.mustache.js"></script>
  </body>
</html>
