<DOCTYPE html>
<html>
  <head>
    <title>Slow Control Alarm Thresholds</title> {{!comment}}
    <link rel="stylesheet" href="/slowcontrol-channeldb/_design/slowcontrol/style/main.css" type="text/css">
    <script src="/_utils/script/json2.js"></script>
    <script src="/_utils/script/jquery.js"></script>
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="/_utils/script/sha1.js"></script>
    <script src="../../vendor/couchapp/jquery.couch.app.js"></script>
    <script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
    <script src="../../vendor/couchapp/jquery.evently.js"></script>
    <script src="../../vendor/couchapp/jquery.mustache.js"></script>
    <script src="../../script/app.js"></script>
  </head>
  <body>
    <div id="account"></div>
    <h1>Slow Control Alarm Thresholds</h1>
    <div id="statustext"></div>
    <div id="statustext1"></div>
    <div class="wideColumn">
      <button id="fillPresentThresholds" class="niceButton">Fill Present Thresholds</button>
      <button id="fillApprovedThresholds" class="niceButton">Fill Approved Thresholds</button>
    </div>
    <div class="wideColumn" style="clear:none">
      <button id="showPresentThresholds" class="niceButton">Show Present Thresholds</button>
      <button id="showApprovedThresholds" class="niceButton">Show Approved Thresholds</button>
    </div>
    <div class="wideColumn" style="clear:none">
      <button id="hidePresentThresholds" class="niceButton">Hide Present Thresholds</button>
      <button id="hideApprovedThresholds" class="niceButton">Hide Approved Thresholds</button>
    </div>
    <div class="wideColumn" style="clear:none">
      <button id="refreshPresent" class="niceButton">Refresh Present Values</button>
    </div>
    <button id="saveThresholds" class="niceButton">Save Thresholds</button>
    <button id="format" class="niceButton">Format</button>
    <div id="approval" style="display:none">
      Approve: <input type="checkbox" label="Approve:" id="approved" />
    </div>
    <div class="header">
      <div class="wideColumn">Channel Name</div>
      <div class="narrowColumn">LoLo</div>
      <div class="narrowColumn">Lo</div>
      <div class="narrowColumn">Presently</div>
      <div class="narrowColumn">Hi</div>
      <div class="narrowColumn">HiHi</div>
      <div class="narrowColumn">Enabled</div>
    </div>
    <div id="everything"></div>
  <script src="../../script/slowloader.js"></script>
  <script src="../../script/slowrunner.js"></script>
  </body>
</html>
