/* add styles here */

body {
  font:1em Helvetica, sans-serif;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}
.chartcontainer{
position:relative;
height:450px;
}
.masterchart{
position:relative;
height:400px;
min-width:310px;
}
.box{
/*background-color:green;*/
border:1px solid #000;
float:left;
text-shadow:none;
}
.timetable{
border:1px solid #000;
float:left;
}
.big{
width:100px;
height:51px;
float:left;
text-align:center;
}
.inside{
width:100%;
height:20px;
float:left;
text-align:center;
clear:both;
}
.one{
width:5%;
height:25px;
float:left;
text-align:center;
}
.two{
width:10%;
height:25px;
float:left;
text-align:center;
}
.cc{
width:7%;
height:25px;
float:left;
text-align:center;
}
.racks{
width:120px;
height:150px;
/*background-color:green;*/
border:1px solid #000;
text-shadow:none;
float:left;
}
.crates{
width:80px;
height:50px;
margin-left:20px;
margin-right:20px;
/*background-color:green;*/
border:1px solid #000;
text-shadow:none; 
float:left;
}
/*
.header{
width:100%;
float:none;
clear:both;
}
*/
.channel{
width:100%;
float:none;
clear:both;
}
.middleColumn {
width:13em;
float:left;
clear:both;
padding:2px;
}
.wideColumn {
width:16em;
/*float:left;
clear:both;
vertical-align: middle;
padding:2px;*/
}
.wide {
width:15em;
}
.niceButton{
width:20em;
}

.narrowColumn {
width:6em;
/*float:left;
padding:2px;*/
}
.narrow{
width:5em;
}
.approved{
display:none;
color:green;
}
.present{
display:none;
color:blue;
}
.set{
display:block;
}

.red{
color:red;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#content {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  width:60%;
  float:left;
}

#detail {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}
/*
form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}
*/
div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

ul {
  list-style: none;
}
